* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(TROCA3.jpg);
    background-size: cover;
}
.header {
    position: fixed;
    top: 2%;
    left: -4%;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-size: 18px;
}
.header .logo{
  font-size: 40px;
}
.nav a{
    position: relative;
    font-size: 1.1em;
    color: aqua;
    text-decoration: none;
    margin-left: 36px;
}
.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: aqua;
    border: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.nav a:hover::after{
    transform: scaleX(1);
}
.hero-text-box {
    margin-left: 38%;
    margin-top: 19%;
    color: aqua;
}
.hero-text-box h1{
    font-size: 50px;
    margin-left: 4%;
    margin-top: 6%;
}
.hero-text-box h2{
    font-size: 140px;
    margin-left: -11%;
    margin-top: -2%;
    text-transform: uppercase;
}
.hero-text-box h3{
    font-size: 50px;
    margin-left: 2%;
    margin-top: -2%;
}