ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}
ul li {
    display: grid;
    color: aqua;
    place-content: center;
    margin: 0;
}
.marcos::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
}