/*H1 e H2*/
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');/*H3*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Pathway+Gothic+One&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  font-family: "Cormorant SC", serif;
  font-style: normal;
}
h1{
  font-family: "Cormorant SC", serif;
  font-style: normal;
  text-transform: uppercase;
}
h2{
  font-family: "Cormorant SC", serif;
  font-style: normal;
}
h3{
  font-family: "Pathway Gothic One", sans-serif; 
  text-transform: uppercase;
}
.logo{
  position: absolute;
  left: 0;
  top: 0; 
  height: 120px;
  width: 120px;
}
  .row {
    max-width: 1140px;
    margin:0 auto ;
  } 
  html {
    background-color: #ffffff;
    font-family: 'Lato', 'Ariel', san-serif, serif;
    color: #fff;
    font-size: 20px;
    font-weight:300;
    text-rendering: optimizeLegibility; 
    
  }
  header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.212)), url('IMG/TROCA3.jpg');
    background-position: 200%;
    background-size:cover;
    height:100vh;
    width:100%;
  }
  .hero-text-box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    margin-bottom:10px;
    color:#c2fcfa;
    font-weight:normal;
    letter-spacing:1px;
    font-family:  Georgia,  Times,  ;
    word-spacing:2px;
    font-size:850%;
    position:relative;
    margin-top: -6%;
  }
  h2 {
    margin-bottom:10px;
    color: #c2fcfa;
    font-weight:normal;
    letter-spacing:1px;
    
    word-spacing:2px;
    font-size:200%;
    margin-top:-32%;
   margin-left: 29%;
  }
  h3 {
    margin-bottom:10px;
    color:#c2fcfa;
    font-weight: normal;
    letter-spacing:1px;
    font: uppercase;
    word-spacing:2px;
    font-size: 300%;
    margin-top:17% ;
    margin-left: 15%;  
    letter-spacing: 12px;
  }
 
  .nav-bar {
    float:right;
    list-style:none;
    margin-top: 40px;
  }
  .nav-bar li {
    display:inline-block;
    margin-right: 20px;
  }
  .nav-bar li a:link,
  .nav-bar li a:visited {
    text-transform: uppercase;
    text-decoration:none;
    color: #c2fcfa;
    font-size:90%;
    transition: 1px solid transparent;
  }
  .nav-bar li a:hover,
  .nav-bar li a:active {
    border-bottom : 2px solid  #f8fdff;
    padding: 10px 0;
    color: #c2fcfa;
   
  }

  .social-midia-buttons{
   display: flex;
   gap: 18px;
 
    margin-left: 90%;
  }

  .social-midia-buttons a{
    display: flex;
    align-items: center;
    margin-top: -20%;
    width: 45px;
    height: 40px;
    color: #c2fcfa;
    font-size: 1.25rem;
    text-decoration: none;
  }