@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --azul-tema: #dcf5ff;
  --white: #ffffff;
  --azul-escuro: #022b3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background: #dcf5ff;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

/*Cabeçalho */
.header {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 20px 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 18px;
  font-family: "Cormorant SC";
}

.logo img {
  width: 10%;
  height: auto;
  position: absolute;
  top: -50%;
  left: 1%;
}

/*Navegação*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav a {
  position: relative;
  font-size: 1.1em;
  color: var(--azul-tema);
  text-decoration: none;
  margin-left: 36px;
}

.nav a::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: var(--azul-tema);
  border: 5px;
  transform: scaleX(0);
  transition: 0.5s;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.menu-container {
      position: relative;
      display: inline-block;
    }

.menu-button {

      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 12px;
      font-size: 21px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

.submenu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: 15px;
      margin-top: 3px;
      margin-left: 3px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s ease;
      min-width: 250px;
      z-index: 999;
    }

.menu-container:hover .submenu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

.submenu a {
      padding: 10px 16px;
      text-decoration: none;
      color: #ffffff;
      transition: background-color 0.2s ease;
    }

.submenu a:hover {
      background-color: #e3f2fd;
    }

.social-midia {
  display: flex;
  margin-left: 87%;
  margin-top: 2.9%;
  gap: 18px;
}

.social-midia a {
  color: var(--azul-tema);
  width: 45px;
  height: 40px;
  font-size: 1.25rem;
  text-decoration: none;
}

.hero {
  background-color: #064469;
  height: 85vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5% 8%;
  text-align: left;
  margin-top: -15%;
  position: relative;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Cormorant SC";
  color: var(--azul-tema);
  margin-bottom: 5%;
}

/*imagem*/
.hero-img {
  width: 300px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  margin-bottom: -12%;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}

.hero-text {
  margin-left: 5%;
  margin-bottom: 5%;
}

.hero-text p {
  font-family: "Cormorant SC";
  margin-top: 5%;
  color: var(--azul-tema);
  font-size: 1.1rem;
}

/* Estilização do formulário */
.contact-form {
  margin-top: 50px;
  margin-left: 10%; /* Movido um pouco para a direita */
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 20px;
  width: 380px; /* Aumentada a largura */
  height: 405px; /* Diminuída a altura */
  font-family: "Raleway";
  font-weight: 600;
  background: linear-gradient(135deg, #003049, #005f73);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.contact-form h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #dcf5ff;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
  color: #dcf5ff;
}

input,
textarea {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #dcf5ff;
  background-color: #005f73;
}

input:hover,
textarea:hover {
  background-color: #005f73;
}

.contact-form button {
  background-color: #003049;
  color: #dcf5ff;
  border: 1px solid #064469;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Cormorant SC";
  text-transform: uppercase;
  width: 50%;
  margin-right: 50%;
}

.contact-form button:hover {
  transition: background-color 1s, border 1s, color 1s;
  background-color: #dcf5ff;
  color: #022b3a;
}

.location-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Cormorant SC";
  color: var(--azul-tema);
  position: absolute;
  right: 11%; /* Ajuste conforme necessário */
  bottom: 30%;
}

.contatos_icons {
  margin-left: 40%;
  bottom: 300px;
  position: relative;
}
.contatos_icons img {
  width: 30%;
  height: auto;
  margin-top: 30px;
}

.contatos_icons h3 {
  font-size: 30px;
  margin-left: 15px;
  color: #005f73;
}
