@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --azul-tema: #dcf5ff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: #d0d7e1;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Reduzir a largura pode ajudar na centralização */
  padding: 20px 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 18px;
  font-family: "Cormorant SC";
}

.header_nav_praias {
  background-image: url(IMG/Group\ 2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 30px;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav a {
  position: relative;
  font-size: 1.1em;
  color: var(--azul-tema);
  text-decoration: none;
  margin-left: 36px;
}
.nav a::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  height: 3px;
  background: var(--azul-tema);
  border: 5px;
  transform: scaleX(0);
  transition: 0.5s;
}
.nav a:hover::after {
  transform: scaleX(1);
}
.social-midia {
  display: flex;
  margin-left: 87%;
  margin-top: 2.9%;
  gap: 18px;
}
.social-midia a {
  color: var(--azul-tema);
  width: 45px;
  height: 40px;
  color: var(--azul-tema);
  font-size: 1.25rem;
  text-decoration: none;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 5%;
}
.hero-text-box h1 {
  font-family: "Cormorant SC";
  font-weight: 100;
  font-size: 80px;
  margin-top: 5%;
}
.hero-text-box h2 {
  font-weight: 400;
  font-family: "Raleway";
  font-size: 30px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: cover;
  background-position: center center;
  z-index: -1;
  min-height: 100;
}

.praia_pontaverde {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

#pontaverde1 {
  width: 350px;
  margin-left: 20%;
}
#pontaverde2 {
  margin-left: 55%;
  width: 200px;
  margin-top: -10%;
}
.caixa {
  width: 500px;
  margin-bottom: 10px;
}
.caixa h3 {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 40px;
  color: var(--azul-tema);
}

.botao_sbm {
  border-radius: 30px;
  background-color: #5790ab;
  padding: 12px;
  color: #d0d7e1;
  border: 1px solid #5790ab;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 500;
}

.botao_sbm:hover {
  background-color: #072d44;
  transition: background-color 1s, border 1s, color 1s;
  border: 1px solid #d0d7e154;
}

.card_restaurantes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  border-radius: 100px;
  margin-top: -8%;
  height: 85vh;
  background-color: #064469;
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
}

.card_restaurantes h3 {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #d0d7e1;
  margin-bottom: 20px;
}

.cards_container {
  display: flex;
  justify-content: center;
  gap: 350px; /* Espaçamento entre as imagens */
}

.recanto_da_julia {
  background-image: url(IMG/recantodajulia.png);
  width: 391px;
  height: 486px;
  margin-top: 80px;
}

.recanto_da_julia p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 100%;
  justify-self: center;
}
.recanto_da_julia img {
  margin-left: 35%;
  margin-top: 10px;
}

.paraiso_dos_reis {
  background-image: url(IMG/paraisodosreis.png);
  width: 391px;
  height: 486px;
  margin-top: 80px;
}

.paraiso_dos_reis p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 100%;
  justify-self: center;
}
.paraiso_dos_reis img {
  margin-left: 35%;
  margin-top: 10px;
}

.container {
  display: flex;
  height: 70vh;
  font-family: "Raleway";
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  color: #072d44;
  font-weight: 500;
}

.avaliacao_praia,
.notas_avaliacoes {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#nota {
  margin-top: 5%;
  font-weight: 200;
  font-size: 100px;
  margin-bottom: -20%;
}

#img_aval {
  margin-left: 20px;
}

.star {
  font-size: 50px;
  cursor: pointer;
  color: #424344;
  transition: color 0.3s;
}

.star:hover,
.star.hovered {
  color: gold;
}
.star:active {
  color: gold;
}

#review {
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s;
}
#review:hover {
  color: #5790ab;
}

.hidden {
  display: none;
}

#reviewBox {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

#reviewText {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  resize: none;
}

#submitReview {
  background-color: #5790ab;
  color: #d0d7e1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#submitReview:hover {
  background-color: #072d44;
}
